main {
    margin-top: 23vh;
}

.titre {
    border-bottom: 2vh solid #FFF3DD;
}

h2 {
    text-align: center;
}

.wheat {
    background-color: #FFF3DD;
}

.formulaire {
    background-color: white;
}

.btn-primary {
    background-color: #31aaaf !important;
    border-color: #31aaaf !important;
}